* {
    margin: 0;
    padding:  0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.area {
    display: block;
    position: relative;
    padding: 60px 24px 100px;
    font-size: 16px;
    color: #333;
    font-family: 'S-CoreDream-3Light';
}

.area.top {
    padding: 0;
}

.area.top img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.area.top p {
    position: absolute;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

.area.top p:first-of-type {
    bottom: 90px;
}

.area.top p:last-of-type {
    bottom: 50px;
}

.area:not(:first-of-type):not(:last-of-type) {
    border-bottom: 2px solid #58085B;
}

.area.intro p {
    color: #555;
    line-height: 1.4;
    font-size: 18px;
}

.area.intro p:not(:first-of-type) {
    margin-top: 10px;
}

.area-tit {
    display: block;
    margin-bottom: 30px
}

.area-tit h2 {
    display: block;
    font-size: 36px;
    color: #000;
}

.area-tit .description {
    display: block;
    color: #85739D;
    font-size: 16px;
}

.list-music {
    border-top: 1px solid #ddd;
}

.list-music li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.list-music li span {
    display: block;
    color: #888;
    font-size: 14px;
}

.list-member::after {
    content:"";
    display: block;
    clear: both;
}

.list-member li {
    width: 33.33%;
    float: left;
    text-align: center;
}

.list-member li:nth-of-type(3) ~ li {
    margin-top: 20px;
}

.list-member li img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    border-radius: 50%;
}

.list-member li span {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}

.list-member li p {
    font-size: 18px;
}

.root_daum_roughmap_landing {
    width: 100% !important;
}

.area.map .margin{
    margin-top: 20px;
}